.menu-bar {
  background: linear-gradient(to right, #000000, #b0b0b0);
  width: 30px;
  border-radius: 20px;
  color: linear-gradient(to right, #000000, #b0b0b0);
  margin: 0px;
  padding: 2px;
}
.menulist {
  background: linear-gradient(to right, #4a4a4a 0%, #102137 100%);
  max-width: 250px;
  height: 80vh;
  margin-top: -40px;
  padding-top: 50px;
  border-radius: 30px;
}
button {
  border: 1px solid black;
  background: linear-gradient(to right, #102137 0%, #4a4a4a 100%);

  outline: none;
  border-radius: 5px;
}
li {
  text-decoration: none;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: black;
  margin-left: -30px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
